
/* Common style -  start */
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  min-height:100vh;
  background-color:#DCDCDC;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gothic', Arial, sans-serif;
}
p {
  font-family: 'Montserrat', Arial, sans-serif;
}
li {
  font-family: Arial, sans-serif;
}  
/* Common style -  end */

header {
  text-align: center;
  margin-top: 100px;
}
main {
  display:flex;
  flex-direction:column;
  text-align: center;
}
